<ion-view view-title="Account">
  <ion-content>

    <div class="text-center" style="margin-top: 10px!important;">
      <img src="{{account.user.photoURL}}" style="width: 64px; height: 64px; border-radius: 50px">
    </div>
    <h3 class="text-center"></h3>
    <p class="text-center">
       {{account.user.displayName}}
    </p>
    <div class="div-style">
      <h4>Comments</h4>
    </div>
    <div class="list card padding-left-5" >
      <h5>this Guy is awesome</h5>
    </div>
    <div class="list card padding-left-5">
      <h5>this Guy is awesome</h5>

    </div>
    <div class="list card padding-left-5">
      <h5>this Guy is awesome</h5>

    </div>
    <div class="list card padding-left-5">
      <h5>this Guy is awesome</h5>

    </div>
    <div class="list card padding-left-5">
      <h5>this Guy is awesome</h5>

    </div>

  </ion-content>
</ion-view>
